
#pageContainer {
     position: relative;
     height: auto;
     width: 750px;
     background-color: #c83756;
     margin: 20px auto;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0px 4px 0px 0px #871300;
     /* Pour la compatibilté avec d'autres browsers */
     -moz-box-shadow: 0px 4px 0px 0px #871300;
     -webkit-box-shadow: 0px 4px 0px 0px #871300
}

#gameContainer {
     position: relative;
     margin: 20px;
     padding: 10px;
     height: 300px;
     background-color: #ffff;
     border-radius: 10px;
     box-shadow: 0px 5px 0px 0px #b3b3b3;
     /* Pour la compatibilté avec d'autres browsers */
     -moz-box-shadow: 0px 5px 0px 0px #b3b3b3;
     -webkit-box-shadow: 0px 5px 0px 0px #b3b3b3
}

#chrono{
     position: absolute;
     padding: 7px;
     background-color: rgb(227, 174, 174);
     border-radius: 5px;
     font-family: sans-serif;
     text-align: center;
     color: white;
     display: none;
}

#textContainer {
     border: 3px double #e88aa5;
     border-radius: 15px;
     position: relative;
     height: 50%;
     width: 50%;
     margin: 5px 0px;
     padding: 10px;
     left: 45%;
     text-align: center;
     line-height: 150px;
     font-size: 30px;
     font-family: sans-serif;
}

#inputfield{
     text-align: center;
     position: relative;
     left: 45%;
     width: 53%;
     height: 35%;
     border: 3px double #e88aa5;
     border-radius: 15px;
}

#excluded{
     text-decoration: line-through;
     margin-top: 15px;
     font-family: sans-serif;
}

#letterInput{
     margin-top: 25px;
}
#nameInput{
     margin-top: 25px;
     display: none;
}

#inputfield span{
     display: none;
     margin-left: 5px;
     padding: 10px;
     font-family: sans-serif;
     background-color: rgb(227, 174, 174);
     border-radius: 5px;
}

#instructions {
     height: fit-content;
     margin: 20px 20px;
     padding: 5px 20px;
     padding: auto 5px;
     border: 3px double #e88aa5;
     border-radius: 10px;
     color: white;
     text-align: center;
     font-family: monospace;
     font-size: 17px;
}

#startreset {
     width: 150px;
     margin: 0px 280px;
     padding: 15px 10px;
     text-align: center;
     color: #c83756;
     font-family: monospace;
     font-size: 16px;
     border-radius: 7px;
     cursor: pointer;
     background-color: #e88aa5;
     transition: all .2s ease;
     box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
     position: relative;
}

#startreset:hover {
     background-color: rgb(242, 197, 197);
}

#startreset:active {
     background-color: white;
     top: 4px;
}

#THOF{
     display: none;
     text-align: center;
     color: #ffc1d2;
     font-size: 30px;
}

#tableContainer {
     display: none;
     margin: 5px auto;
     border-radius: 15px;
     background-color: #c75978;
     padding: 7px;
     width: fit-content;
}

td{
     border: 1px solid #f6baba;
     border-radius: 15px;
}

.tabelements{
     text-align: center;
     font-family: monospace;
     color: #ffffffff;
     padding: 5px 50px;
}

#illustration {
     position: relative;
}

.pendu {
     position: absolute;
}

#pendu7 {
     top: 50px;
     left: 145.5px;
     display: none;
}

#pendu6 {
     z-index: 1;
     top: 128.5px;
     left: 105.5px;
}

#pendu5 {
     top: 102px;
     left: 98.5px;
}

#pendu4 {
     top: 78px;
     left: 105px;
}

#pendu3 {
     top: 38px;
     left: 114px;
}

#pendu2 {
     z-index: 1;
     top: 17px;
     left: 71px;
}

#pendu1 {
     top: 140px;
}
